<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar usuario</title>
    <link href='https://fonts.googleapis.com/css?family=Balsamiq Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/estilo2.css">
    <style>
        body{
            margin-top: 50px;
            }

    </style>
    <script src="https://kit.fontawesome.com/f776900739.js" crossorigin="anonymous"></script>
</head>
</header>


    <div class="BuscarGeneral-revisarusuario">
        <input class= "bucarusuarios-vista-buscarusuarios" type="text" size="40" placeholder=" Buscar Usuarios">
        <p class="cuadrorecomendacionusuario-vista-buscarusuarios">
        Búsquedas relacionadas <br>
        Persona 1 <br>
        Persona 2 <br>
        Persona 3 <br>
        <br>
        Quizás conozcas<br>
        Persona 1<br>
        Persona 2<br>
        Persona 3<br>
        <br>
        Recomendamos<br>
        Persona 1<br>
        Persona 2<br>
        Persona 3<br>
        </p>
    </div>

    <div class="PartePrincipal-revisarusuario">
        <h1 id="nombreApp-vista-buscarusuarios"> Social Gerbillus Perpallidus </h1>
        <img class=img1-vista-buscarusuarios src="../static/imagenes/logo.png" alt="">
        <p class="slogan-vista-buscarusuarios">¡Tus imágenes y fotos a un link del mundo!</p>
        <div class="usuarioencontrado-buscarusuario">
		<div class="contenedor-perfil-detalles" style="margin-left:15%;">
    			<i id="icon-perfil-name" class="fas fa-user-circle fa-10x"></i>
    			<h2 class="user-perfil-name"> User name</h2>
		</div>
		<div class="contenedor-encontrado-publicaciones">
    			<h4 class="user-perfil-publicaciones"> Publicaciones</h4>
    			<div class="contenedor-encontrado-imgs" >
        			<img src="..." class="img-perfil" alt="Imagen">
 	       			<img src="..." class="img-perfil" alt="Imagen">
        			<img src="..." class="img-perfil" alt="Imagen">
			        <img src="..." class="img-perfil" alt="Imagen">
	        		<img src="..." class="img-perfil" alt="Imagen">
        			<img src="..." class="img-perfil" alt="Imagen">
        			<img src="..." class="img-perfil" alt="Imagen">
        			<img src="..." class="img-perfil" alt="Imagen">
 		       		<img src="..." class="img-perfil" alt="Imagen">
        			<img src="..." class="img-perfil" alt="Imagen">
    			</div>
		</div>
		<br><br>
		<div class="contenedor-perfil-seguidores" style="position: relative; width:90%;"> 
    		<p class="user-perfil-seguidores"> Seguidores</p>
    		<p class="user-perfil-seguidos"> Seguidos</p>
    		<p class="user-perfil-likes"> Likes</p>
		</div>
		<br>
                <a href="#" class="btn-perfil-publicar"style=" width:50%; height:50%;" > Enviar Invitación</i></a>

        </div>
    </div>

    <div class="CalendarioPublici-revisarusuario">
        <img class=imagencalendar-vista-buscarusuarios src="../static/imagenes/calendario.jpg" alt="">
        <p class="cuadropublicidad-vista-buscarusuarios">Publicidad</p>
    </div>
     
</main>      
</body>
</html>