<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerbillus perpallidus</title>
    <link rel="stylesheet" href="vistas.css">
</head>
<body>
    <header>
        <nav>
            <div>
                <img src="" alt="logo de la aplicación">
                <form action="" method='post'>
                    <input type="text" name='barra_busqueda', placeholder="Buscar usuario">
                </form>
            </div>

            <ul>
                <li>
                    <a href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li>
                    <a href="{{ url_for('login') }}">ingresar</a>
                </li>
                <li>
                    <a href="{{ url_for('recuperar_contraseña') }}">recuperar contraseña</a>
                </li>
                <li>
                    <a href="{{ url_for('registrar_usuario') }}">registrarse
                        <img src="" alt="icono">
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <!-- Aquí debo desarrollar todo el contenido principal de 
        la aplicación -->
    </main>
</body>
</html>