<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mensajes</title>
    <link rel="stylesheet" href="estilosmsj.css">
    <style> 
    body{

        background-color: rgb(236, 155, 89);
    }
    </style>
</head>

<body>
    <p id="Estado">Activo ahora</p>
    <p id="numpublicaciones">50 publicaciones</p>
    <form action="">
        <div>
            <input class= "enviarmsj" type="text" size="1000" placeholder="Envía un mensaje" style="width : 1200px; height: 25px;">
        </div>
    </form>
    

    <img class=usuarioImagen src="imagenusuario.png" alt="">
    <img class=usuarioImagen2 src="imagenusuario.png" alt="">
    <img class=usuarioImagen3 src="imagenusuario.png" alt="">
    <img class=usuarioImagen4 src="imagenusuario.png" alt="">
    <img class=usuarioImagen5 src="imagenusuario.png" alt="">
   
    <img class=nubeizquierda src="nubei.png" alt="">
    <img class=nubeizquierda2 src="nubei.png" alt="">

    <img class=der src="nubedere.png" alt="">
    <img class=der2 src="nubedere.png" alt="">
    
    <img class=activo src="activo.png" alt="">
    <img class=cam src="cam.png" alt="">
    
</body>
</html>