<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <LINK REL=StyleSheet HREF="../static/styles/estilos.css">

    <style>
        body{
            background-color: rgb(221, 221, 221);
            }
    </style>
    <script src="https://kit.fontawesome.com/f776900739.js" crossorigin="anonymous"></script>

</head>
<body>
    <p id="nombreApp"> Social Gerbillus Perpallidus </p>
    <form action="">
        <div>
            <input class= "buscarUsuarios" type="text" size="40" placeholder=" Buscar Usuarios" style="width : 300px; height: 50px;">
        </div>
        <div>
            <input class= "usuario" type="text" placeholder="Usuario" style="width : 400px; height: 50px;" >
        </div>
        <div>
            <input class= "contraseña" type="text" placeholder="Contraseña" style="width : 400px; height: 50px;" >
        </div>
        <div>
            <input class= "botonIngreso" type="submit" value="Entrar" style="width : 400px; height: 50px;">
        </div>
        <div>
            <input class= "recordarContraseña" type="submit" value="Recordar contraseña" style="width : 150px; height: 45px;">
        </div>
        <div>
            <input class= "registrarse" type="submit" value="Registrarse" style="width : 150px; height: 45px;">
        </div>
    </form>
    <p id="slogan">¡Tus imágenes y fotos a un link del mundo!</p>
    <img class=img1 src="/imagenes/gp1.png" alt="">
    <img class=gif src="/imagenes/Webp.net-gifmaker (1).gif" alt="" srcset="">
    <img class=usuarioImagen src="/imagenes/imagenusuario.png" alt="">
    <img class=contraseñaImagen src="/imagenes/imagencontraseña.png" alt="">
</body>
</html>