<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#7952b3">
    <title>Perfil</title>   
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Balsamiq Sans' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/estilo2.css">
  </head>

  <style>
      
  </style>
   
</header>

<main>
<a href="#" id="btn-perfil-regresar" class="btn-perfil-regresar"> &raquo; Regresar a explorar</i></a>
<br>
<div class="contenedor-perfil-detalles">
    <i id="icon-perfil-name" class="fas fa-user-circle fa-10x"></i>
    <h2 class="user-perfil-name"> User name</h2>
</div>
<div class="contenedor-perfil-publicaciones">
    <h4 class="user-perfil-publicaciones"> Tus publicaciones</h4>
    <div class="contenedor-perfil-imgs">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
        <img src="..." class="img-perfil" alt="Imagen">
    </div>
</div>

<br>
<input class="user-perfil-estado" type="text" placeholder="Algo que nos quieras contar sobre ti">

<br><br>
<div class="contenedor-perfil-seguidores"> 
    <p class="user-perfil-seguidores"> Seguidores</p>
    <p class="user-perfil-seguidos"> Seguidos</p>
    <p class="user-perfil-likes"> Likes</p>
</div>

<br>
<a href="#" id="btn-perfil-publicar" class="btn-perfil-publicar"> ¿Quieres publicar algo ahora?</i></a>

</main>     
</body>
</html>