<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registro</title>
</head>
<body>
    <form action="" method="POST">
        {{ form.csrf_token() }}

        
        <div>
            {{ form.correo_electronico.label }}
            {{ form.correo_electronico }}
            {{ form.correo_electronico.errors }}
        </div>
        <div>
            {{ form.contraseña.label }}
            {{ form.contraseña }}
            {{ form.contraseña.errors }}
        </div>
        <div>
            {{ form.confirmar_contraseña.label }}
            {{ form.confirmar_contraseña }}
            {{ form.confirmar_contraseña.errors }}
        </div>
        <div>
            {{ form.usuario.label }}
            {{ form.usuario }}
            {{ form.usuario.errors }}
        </div>
        
        <div>
            {{ form.ciudad.label }}
            {{ form.ciudad }}
            {{ form.ciudad.errors }}
        </div>
        <div>
            {{ form.gustos.label }}
            {{ form.gustos }}
            {{ form.gustos.errors }}
        </div>
        {{ form.registrarse }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {%endfor%}
            {% endif %}
        {% endwith %}
    </form>
</body>
</html>