<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revisar usuario</title>
    <link rel="stylesheet" href="../static/styles/estilos.css">
    <style>
        body{
            background-color: rgb(221, 221, 221);
            }
    </style>
    <script src="https://kit.fontawesome.com/f776900739.js" crossorigin="anonymous"></script>
</head>
<body>
    <p class="slogan-vista-buscarusuarios">¡Tus imágenes y fotos a un link del mundo!</p>
    <p id="nombreApp-vista-buscarusuarios"> Social Gerbillus Perpallidus </p>
    <div>
        <input class= "bucarusuarios-vista-buscarusuarios" type="text" size="40" placeholder=" Buscar Usuarios" style="width : 300px; height: 50px;">
    </div>
    <img class=imagencalendar-vista-buscarusuarios src="/imagenes/pngtree-october-2021-calendar-in-black-png-image_3925820.jpg" alt="">
    <img class=img1-vista-buscarusuarios src="/imagenes/gp1.png" alt="">
    <p class="cuadrorecomendacionusuario-vista-buscarusuarios">
        Búsquedas relacionadas <br>
        Persona 1 <br>
        Persona 2 <br>
        Persona 3 <br>
        <br>
        Quizás conozcas<br>
        Persona 1<br>
        Persona 2<br>
        Persona 3<br>
        <br>
        Recomendamos<br>
        Persona 1<br>
        Persona 2<br>
        Persona 3<br>
    </p>

    <textarea name="" id="paraescribir-vista-revisarusuario" ></textarea>
    <p class="cuadropublicidad-vista-buscarusuarios">Publicidad</p>
</body>
</html>